.pro img {
  width: 300px;
}

.pro {
  display: flex;
  justify-content: center;
}

.App {
  text-align: center;
}





.btnn button {
  width: 100px;
  height: 40px;
  background-color: black;
  color: white;
}

.btnn1 button {
  width: 100px;
  height: 40px;
  background-color: rgb(194, 93, 93);
  color: white;

}

.btnn {
  padding: 10px;
  text-align: center;

}

.btnn1 {
  padding: 10px;
  text-align: center;

}

.middle {
  margin-left: 20px;
  text-align: center;


}

table,
tr,
th,
td {
  border: 3px solid black;
  border-collapse: collapse;
  margin: 20px auto;
  width: 220px;
  text-align: center;


}

.poo input {
  margin-top: 10px;
  width: 250px;
  height: 30px;
}

.poo .sub {
  width: 100px;
  height: 30px;
  background-color: #0a497e;
  color: white;


}

.poo .subb1 {
  background-color: chartreuse;
  width: 100px;
  height: 30px;
  color: white;

}

.poo {
  margin-top: 20px;
  border: 1px solid black;
  width: 300px;
  height: 220px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  margin: 20px auto;
  background-color: azure;



}

.main {
  margin-top: 20px;
  border: 1px solid black;
  width: 300px;
  height: 220px;
  padding: 10px;
  border-radius: 10px;
  margin: 20px auto;
  background-color: azure;
}



h2 {
  text-align: center;
}

body {
  background-color: #f5cb8d;
}